body{
    background-color: #2b2d42;
    color: #edf2f4;
}

header{
    border:black 2px solid;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: calc(10% - 300px);
    background-color: #d80032;
}

.container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: calc(10% - 400px);
}

.ca{
    width: 250px;
    height: 100px;
    border:rgba(0, 0, 0, 0.055) 5px solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: brown;
}

.al{
    background-image: url(/fundos/formulario-de-registro.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align:end;
}

.fre{
    background-image: url(/fundos/frequencia.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align:end;
}

.no{
    background-image: url(/fundos/notas.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align:end;
}

.re{
    background-image: url(/fundos/relatorio.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align:end;
}

.cadastro>h1,h3{
    text-align: center;
}

.cadastro{
    margin-top: 7.5%;
    margin-bottom: calc(10% - 400px);
    background-color: brown;
    display: none;
}

.frequencia>div{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: black 5px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: brown;
}

.frequencia{
    margin-top: 2.5%;
    margin-bottom: calc(10% - 400px);
    display: none;
}

.faltas,.notas,.relatorio,.intro{
    margin: auto;
    text-align: center;   
    display: none;
}

h1{
    text-align: center;
}

input{
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
    margin-top: 10px;
}

.nota,.T{
    width: 40px;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

select{
    padding: 5px;
}

table{
    border: rgb(221, 9, 9) 4px solid;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
}

td{
    border: rgb(230, 11, 11) 3px solid;
    border-radius: 5px;
    padding: 5px;
}
button>a{
    color: black;
}

button{
    height: 25px;
    background-color: rgba(216, 185, 185, 0.89);
    border-radius: 5px;
    border-style: none;
}

section{
    display: none;
}

.desenvolvedor{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
.Nasci{
    margin-right: 20px;
    
}
.Nasci>p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(246, 250, 20);
}

.shake-bottom {
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 4;
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 4;
}

@-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
}
